scikit-learn
scipy
pandas
wandb
matplotlib
lxml
transformers>=4.46.3
hf_xet
huggingface_hub>=0.29.0
accelerate
eval4ner
pyyaml

langchain
langchain_community
langchain-huggingface
langchain-openai
google-genai
langchain-google-genai
langchain-anthropic
together
langchain-together
langchain-cohere